<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="EasyHomework.category.wizards"
            name="Canvas Project Manager">
      </category>
      <wizard
            canFinishEarly="false"
            category="EasyHomework.category.wizards"
            class="cpm.wizards.ProjectCreationWizard"
            icon="icons/UoU.png"
            id="EasyHomework.wizard.new.custom"
            name="Canvas Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="cpm.commands.SubmissionHandler"
            id="easyhomework.commands.Submit"
            name="Submit">
      </command>
      <command
            defaultHandler="cpm.commands.VerificationHandler"
            id="easyhomework.commands.Check"
            name="Check">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
         <command
               commandId="easyhomework.commands.Submit"
               icon="icons/UoU.png"
               label="Submit"
               style="push"
               tooltip="Submits this project as the solution to a Canvas assignment">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                      value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="easyhomework.propertyTesters.isSubmitableTest">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <command
               commandId="easyhomework.commands.Submit"
               icon="icons/UoU.png"
               label="Submit"
               style="push"
               tooltip="Submits this project as the solution to a Canvas assignment">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                      value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="easyhomework.propertyTesters.isSubmitableTest">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
         <command
               commandId="easyhomework.commands.Check"
               icon="icons/UoU.png"
               label="Verify"
               style="push"
               tooltip="Verifies this project's interfaces against a Canvas assignment's requirements">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="easyhomework.propertyTesters.isVerifiableTest">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <command
               commandId="easyhomework.commands.Check"
               icon="icons/UoU.png"
               label="Verify"
               style="push"
               tooltip="Verifies this project's interfaces against a Canvas assignment's requirements">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="easyhomework.propertyTesters.isVerifiableTest">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="cpm.propertyTesters.IsSubmitable"
            id="ProjectAssignmentPropertyTester"
            namespace="easyhomework.propertyTesters"
            properties="isSubmitableTest"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
      <propertyTester
            class="cpm.propertyTesters.IsVerifiable"
            id="ProjectAssignmentPropertyTester"
            namespace="easyhomework.propertyTesters"
            properties="isVerifiableTest"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="EasyHomework.wizard.new.custom">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="cpm.startup.Startup">
      </startup>
   </extension>
</plugin>
